<Limit GET POST PUT DELETE>
    order deny,allow
    allow from all
    AllowOverRide All
</Limit>
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>
