<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="PHPUnit">
            <directory>tests/App</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/App</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./metrics/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="./metrics/testdox.html"/>
    </logging>
</phpunit>